
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
.body{
  background-color:#161623;
  color: white;

 }
/* styling logo */

.logo a{
  /* background: linear-gradient(90deg, rgba(2,0,36,0.4) 0%, rgba(233,30,99,0.6) 35%, rgba(0,212,255,0.8) 100%); */
    color:white;
    text-decoration: none;
    list-style: none;
    
}

.logo a span{
  color: #7b2cbf;

}

.navigation{
  background: #161623;


}
.navigation a{
  color: white;

}
.list a:hover{
  color: #7b2cbf;
}

.logo a span:hover{
  color: white;

}

.logo a:hover{
  color:#7b2cbf;

}
.background{
margin-top:4rem;



}

.responsive{
  height: auto;
  width: 100%;
  

}
.name{
  margin-top:1rem ;
}
#about a{
color: white;
text-decoration: none;
}
.me{
  color: #7b2cbf;
}
.metto{
  color: #7b2cbf;
}

#text{
  font-size: 50px;
  color: #7b2cbf;
}

#hobbies{
  color: #7b2cbf;
  text-decoration: none;
}

#projects{
  color: #7b2cbf;
  text-decoration: none;
}

#contact{
  color: #7b2cbf;
  text-decoration: none;
}
.hobbie{
  text-align: center;
}
.wider{
  text-align: center;


}

.claire{
  margin-top: 2rem;
}
.metto a{
  color: white;
  margin: 1rem;
  text-decoration: none;

}
.metto a:hover{
  color: #7b2cbf;

}
.form{
  margin: 0rem 2rem;

}


.footie a{
  color: white;

}

.footie a :hover{
  color:#7b2cbf;

  
}
.cheptoo{
  color: #7b2cbf;
  padding-bottom: 1rem;
}

.header-area h2{
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  padding: 0;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  color: white;
  font-size: 1rem;

}

.header-area h2 span{
  color: #7b2cbf;

}

#Skills{
  color: #7b2cbf;
  text-decoration: none;

}

.yaya{
  justify-content: space-around;
  align-items: center;
  display: flex;

}
.skill{
  margin-top: 3rem;
 
}

