 
 /* .body{
  background-color:rgba(0, 0, 0, 0.5);

 }
 
 
 .background{
     background-color: whitesmoke;
     padding:20px;
     border-radius:10px;
     border:1px solid skyblue;
 }
 p {
    color: black;
    text-align: center;
    font-size: 20px;
  }
  h1{
    color: #033e79;
    text-align: center;
    font-size: 60px;
  }


  .folio ul {
    padding-right: 50%;
    background-color:skyblue;

    list-style-type: none;
    width: 100%;
    text-align: center;
    padding: 3% 1%;
  }
  body {
    background-color: #D0D3D4;
  }
  
  .folio li {
    float: left;
    text-align: center;
    margin-left:5%;
    font-size:20px;

  }
  
  li a {
    display: block;
    text-align: center;
    color: #033e79;
    font-weight: 900;
    padding: 2% 2%;
    width: 17vw;

  }
  
  li a:hover {
    background-color:#033e79;
    border-radius: 10px;
    color: white;
    text-decoration: none;

  }

  .bout p{
    text-align: center;
    font-style: italic;
    font-weight: 900;

   
  }

  .bout p{
    text-align: center;
    font-style: italic;
    font-weight: 900;

   
  }

  /* three */

  /* *{
    text-decoration: none;
}
#navigation{
    text-align: center;
    padding: 20px;
    text-align: center;
    width: 100%;

}
.nav{
  margin-left: 13%;

  

}

#navi{
  background-color:rgba(0, 0, 0, 0.5);
  padding: 2%;
  border-radius: 20px;
  border:2px solid skyblue;

}
.nav,a{
padding: 20px;
}

.nav a{
    padding: 15px 30px;
    color:skyblue;
    font-size: 30px;
    font-weight: 900;
    text-decoration: none;
 }
 .nav a:hover{
    padding: 10px 30px;
    color:navy;
    /* background-color: blue; */

    /* border-radius: 10px;
 } */
/* 
 #foot{
   text-align: center;
   background-color:skyblue;
   border-radius: 10px;
   padding: 20px;
 }
 .one a{
   padding: 10px;
   text-decoration: none;
   color: blue;
   font-weight:900 ;
 }

 .one a:hover{
   color: white;
   background-color: navy;

   border-radius: 10px;

  
}

#image{
  height: 70px;
  width: 100px;

/* } */ 




/* xxxxxxxxx */
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
.body{
  background-color:#161623;
  color: white;

 }
/* styling logo */

.logo a{
  /* background: linear-gradient(90deg, rgba(2,0,36,0.4) 0%, rgba(233,30,99,0.6) 35%, rgba(0,212,255,0.8) 100%); */
    color:white;
    text-decoration: none;
    list-style: none;
    
}

.logo a span{
  color: #7b2cbf;

}

.navigation{
  background: #161623;


}
.navigation a{
  color: white;

}
.list a:hover{
  color: #7b2cbf;
}

.logo a span:hover{
  color: white;

}

.logo a:hover{
  color:#7b2cbf;

}
.background{
margin-top:4rem;



}

.responsive{
  height: auto;
  width: 100%;
  

}
.name{
  margin-top:1rem ;
}
.name h1 span{
  color: #7b2cbf;
}
.me{
  color: #7b2cbf;
}
.riot{
  color: white;
}


/* .navi{
  margin: 0.5rem 10px;

} */

/* .logo a :hover{

} */

